<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <appSettings>
        <add key="proxyServer" value="****"/>
        <add key="proxyPort" value="****"/>
        <add key="authUser" value="****"/>
        <add key="authPassword" value="****"/>
        <add key="pacUrl" value="****"/> 
    </appSettings>
</configuration>
